---
---
<head>
<link rel="stylesheet" href="{{ site.baseurl }}/css/fonts/font-awesome.min.css">
</head>

<button class="btn" style="float:right"><a href="{{ site.baseurl }}/govern/govern.pdf" download><i class="fa fa-download">&nbsp;&nbsp;</i></a></button>

<h2>GOVERN</h2>
<p style="font-family:'Arial'">
GOVERN is a continual and intrinsic requirement for effective AI risk management over an AI system’s lifespan and the organization’s hierarchy and enables the other four AI RMF functions. 
</p>
<p>
Govern function outcomes foster a culture of risk management within organizations designing, developing, deploying, or acquiring AI systems. 
</p>
<p>
Categories in this function interact with each other and with other functions but do not necessarily build on prior actions. 
</p>


<div class="wrapper" align="justify">
{% assign categories=site.data.category %}
{% for category in categories %}
        {% if category.name contains 'GOVERN' %}
              {% assign category_name = category.name %}
              {% assign posts = site.categories[category_name] | sort: "order_number" %}
              <button class="accordion" style="--color: #489fce"><strong><div>{{ category.name }}: {{ category.title }}</div></strong></button>
          	<div class="panel">
                        {% for post in posts %}
             			<button class="linkbtn">
             			&#128279; <a target="_self" href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}: {{ post.description }} </a>
             			</button>
                                <br>
                                <br>
                        {% endfor %}
                </div>
              <br>
        {% endif %} 
{% endfor %}
</div>


