---
---
<head>
<link rel="stylesheet" href="{{ site.baseurl }}/css/fonts/font-awesome.min.css">
</head>

<button class="btn" style="float:right"><a href="{{ site.baseurl }}/map/map.pdf" download><i class="fa fa-download">&nbsp;&nbsp;</i></a></button>

<h2>MAP</h2>
<p style="font-family:'Arial'">
The MAP function establishes the contextual understanding that is needed to adequately quantify and frame risks related to an AI system. 
<br>
<br>
Without an understanding of the relevant contexts and an awareness of associated challenges, risk management is difficult to perform. The MAP function is intended to enhance an organization’s ability to identify risks as well as the broader factors that contribute to them.
<br>
<br>
Outcomes of the MAP function are the basis for the MEASURE and MANAGE functions. 

</p>


<div class="wrapper">
{% assign categories=site.data.category %}
{% for category in categories %}
        {% if category.name contains 'MAP' %}
              {% assign category_name = category.name %}
              {% assign posts = site.categories[category_name] | sort: "order_number" %}
              <button class="accordion" style="--color: #67ba9d"><strong>{{ category.name }}: {{ category.title }}</strong></button>
          	<div class="panel">
                        {% for post in posts %}
             			<button class="linkbtn">
             			&#128279; <a target="_self" href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}: {{ post.description }} </a>
             			</button>
                                <br>
                                <br>
                        {% endfor %}
                </div>
              <br>
        {% endif %} 
{% endfor %}
</div>


